* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container .plot ul {
    display: flex;
    flex-direction: column;
}

.container .plot ul li {
    display: flex;
    justify-content: space-between;
}

p {
    width: 150px;
    text-align: center;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #1b48c5;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    opacity: 0.9;
}
